[submodule "lib/create3-deploy"]
	path = lib/create3-deploy
	url = https://github.com/darwinia-network/create3-deploy
[submodule "lib/safe-deployments"]
	path = lib/safe-deployments
	url = https://github.com/safe-global/safe-deployments
